.form-content {
    width: 100%;

    mat-form-field:nth-child(1) {
        width: 60%;
        float: left;
    }

    mat-form-field:nth-child(2) {
        width: 35%;
        float: right;
    }
}

mat-dialog-actions {
    float: right;
}