@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* ---------------------------------------
    Posicionamento dos conteúdos
----------------------------------------*/

//container para expandir os conteúdos
.containerBody{
    width: 90%;
    padding-top: 1%; 
    margin: 0 auto;
}

/* ---------------------------------------
    CONTROLE DE PÁGINA
----------------------------------------*/

.pageTitle {
    margin-bottom: 15px;
}

/* ---------------------------------------
    CONTORLE DE MODAL
----------------------------------------*/

mat-dialog-actions {
    float: right;
}

/* ---------------------------------------
    LISTAGEM DO BD
----------------------------------------*/

.mat-row:hover{
    background-color: #eee;
    cursor: pointer;
}

.emptyResult {
    font-size: 1.1em;
    font-style: italic; 
    color: #aaa9a9;
    background-color: white;
    padding: 1em;
}

.add-btn {
    background-color: #3f51b5 !important;
    position: absolute !important;
    bottom: 30px !important;
    right: 30px !important;
}