<mat-sidenav-container class="container">
    <mat-sidenav mode="side" class="sidenav" opened>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Página inicial
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li><a href="#">Opção 1</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Jogadores
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li><a routerLink="/jogadores">Lista de Jogadores</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Herois
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li><a routerLink="/herois">Lista de Heróis</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Jogos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li><a routerLink="/jogos">Lista de Jogos</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Busca
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li><a href="#">Opção 1</a></li>
                    <li><a href="#">Opção 2</a></li>
                    <li><a href="#">Opção 3</a></li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <div class="containerBody">
            <app-summon></app-summon>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
