@import '~@angular/material/theming';

$config: mat-typography-config();

table, mat-paginator, mat-form-field, .herois-table {
    width: 100%;
    margin: 0 auto;

    .nome {
        width: 30%;
    }

    .alcunha {
        width: 30%;
    }

    .classe {
        width: 15%;
    }

    .movimentacao {
        width: 15%;
    }

    .button-edit{
        width: 5%;
    }

    .button-delete{
        width: 5%;
    }
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    mat-form-field{
        margin: 0 !important;
    }

    mat-form-field:nth-child(1) {
        width: 50%;
    }

    mat-form-field:nth-child(2) {
        width: 20%;
    }

    mat-form-field:nth-child(3) {
        width: 20%;
    }
}