<div class="title">
  <h2 mat-dialog-title *ngIf="!raridade; else summon">Sobre {{heroi.nome}} - {{heroi.alcunha}} </h2>
  <ng-template #summon>
        <h2 mat-dialog-title>Você conseguiu {{heroi.nome}} - {{heroi.alcunha}} ! </h2>
  </ng-template>
  <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button> 
</div>

<mat-dialog-content>

  <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Dados">

      <div class="imagem">
          <img class="mat-elevation-z2" src="{{heroi.img}}">
      </div>

      <div class="status">
        <h2 matTooltip="Nome do herói. Pode existir mais com o mesmo nome." matTooltipPosition="left">{{heroi.nome}}</h2> 
        <h3 matTooltip="A alcunha. Forma de diferenciar heróis, mesmo com nomes iguais." matTooltipPosition="left">{{heroi.alcunha}}</h3>

        <mat-list>
          <mat-divider></mat-divider>
        </mat-list>


        <p matTooltip="Classe do herói identificando cor, forma de ataque e armas/habilidades que pode usar." matTooltipPosition="left"><span>Classe: </span> <span>{{heroi.classe}}</span> </p>
        <p matTooltip="Forma de movimentação que define quantos espaços anda e como interage com obstáculos." matTooltipPosition="left"><span>Movimentação: </span> <span>{{heroi.movimentacao}}</span></p>

        <p *ngIf="raridade"><span>Raridade: </span> <span>{{raridade}}</span></p> 
        <p *ngIf="nivel"><span>Nível: </span> <span>{{nivel}}</span></p> 

        <mat-list>
          <mat-divider></mat-divider>
        </mat-list>
      
        <p matTooltip="Hit Points: ao atingir 0, a personagem é derrotada." matTooltipPosition="left"><span >HP: </span> <span>{{heroi.hp}}</span></p>
        <p matTooltip="Attack (Ataque): quanto maior o ataque, maior o dano causado em inimigos" matTooltipPosition="left"><span>ATK: </span> <span>{{heroi.atk}}</span></p>
        <p matTooltip="Speed (Velocidade): ataca duas vezes se a velocidade é pelo menos 5 a mais que a velocidade do inimigo." matTooltipPosition="left"><span>SPD: </span> <span>{{heroi.spd}}</span></p> 
        <p matTooltip="Defense (Defesa): quanto maior a defesa, menos dano recebe de ataques físicos." matTooltipPosition="left"><span>DEF: </span> <span>{{heroi.def}}</span></p> 
        <p matTooltip="Resistance (Resistência): quanto maior a resistência, menos dano recebe de ataques mágicos." matTooltipPosition="left"><span>RES: </span> <span>{{heroi.res}}</span></p>
      </div>  


    </mat-tab>

    <mat-tab label="Jogos">
      <mat-list>
        <mat-list-item *ngFor="let jogo of jogos">
          {{jogo.ano_lancamento}} - {{jogo.nome}}
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item *ngIf="jogos.length == 0">
          Não foram encontrados jogos para {{heroi.nome}}
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>