@import '~@angular/material/theming';

$config: mat-typography-config();

table, mat-paginator, mat-form-field, .jogos-table {
    width: 100%;

    .nome {
        width: 55%;
    }

    .plat {
        width: 20%;
    }

    .ano {
        width: 15%;
    }

    .button {
        width: 5%;
    }
}
