
<h2 class="mat-display-2">Lista de Jogos</h2>

<mat-form-field>
    <input matInput (keyup)="findByNomeOrPlatform($event.target.value)"
        placeholder="Digite o título do jogo ou plataforma...">
</mat-form-field>

<table mat-table class="jogos-table mat-elevation-z2" [dataSource]="jogoDataSource">
    <!-- Coluna título -->
    <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td class="nome" mat-cell *matCellDef="let jogo">{{jogo.nome}}</td>
    </ng-container>

    <!-- Coluna ano de lançamento -->
    <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef> Ano de Lançamento </th>
        <td class="ano" mat-cell *matCellDef="let jogo">{{jogo.ano_lancamento}}</td>
    </ng-container>

    <!-- Coluna plataforma -->
    <ng-container matColumnDef="plat">
        <th mat-header-cell *matHeaderCellDef> Plataforma </th>
        <td class="plat" mat-cell *matCellDef="let jogo">{{jogo.plataforma}}</td>
    </ng-container>

    <!-- Botão de edição -->
    <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="button" mat-cell *matCellDef="let jogo"><button mat-icon-button (click)="edit(jogo)">
                <mat-icon>create</mat-icon>
            </button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsOrder"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsOrder"></tr>
</table>

<div *ngIf="zeroItems()" class="mat-body">Nenhum jogo encontrado...</div>
<mat-paginator class="mat-elevation-z2" [length]="jogoDataSource.total$ | async" [pageSize]="5" [pageSizeOptions]="[5, 10]"></mat-paginator>

<button mat-fab (click)="create()" class="add-btn">
    <mat-icon>add</mat-icon>
</button>
